doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Benjamin Cook - Web and Data Software Engineer
		meta(name="description" content="Benjamin Cook is a web and data software engineer in the San Francisco Bay " +
		"Area with an excellent skill set for creating reliable and scalable data-based web applications.")
		// Uncomment the next line for favicon
		//link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800i" rel="stylesheet")

		//- Font-Awesome for icons and scroll arrow
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")


		//- Favicon
		link(rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
		link(rel="manifest" href="images/favicon/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]


		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		//iframe(src="http://localhost:8000", style="width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: -1;")
		//- Add any other content pre-body by extending the header block
		block header

		//- HAMBURGER FOR NAVIGATION
		.header-placeholder
		div.btn(onclick="site.toggleMenu()")
			span.top
			span.middle
			span.bottom

		//- BOUNCING ARROW FOR SCROLLING
		div.arrow.bounce(onclick="site.moveSectionDown()"): i.fa.fa-angle-down(aria-hidden="true")

		//- NAVIGATION MENU
		div#navigation
			ul#menu
				a(href="/#home"): li.nav1(onclick="site.toggleMenu()") Home
				a(href="/#skills"): li.nav2(onclick="site.toggleMenu()") Skills
				a(href="/#projects"): li.nav3(onclick="site.toggleMenu()") Projects
				a(href="/#contact"): li.nav4(onclick="site.toggleMenu()") Contact

		//- Add more content by extending the content block
		block content

		//- JAVASCRIPTS
		// Jquery
		script(src='/js/jquery/jquery-1.11.3.min.js')
		// Bootstrap
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		// Scrolloverflow (For fullpage to allow for content that exceeds screen height)
		script(src="js/fullpage/scrolloverflow.min.js")
		// Fullpage.js
		script(src="js/fullpage/fullpage.js")
		// Custom Javascript
		script(src="js/js/js.js")
		// Google Analytics
		//script(src="js/analytics/google.js")

		//- Add any template specific scripts by extending the js block
		block js
