doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		
		title Benjamin Cook

			
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800i" rel="stylesheet")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")


		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		script.
			function resizeIframe(obj) {
				obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
			}
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		div#fb-root
		script.
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=418922448252711";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		//- HEADER
		block header
			

		button#js-btn--menu.btn.btn--menu(onclick="toggleMenu()")
			span
			span
			span
		div#navigation
			ul#menu
				a(href="/#home"): li Home
				a(href="/#projects"): li Projects
				a(href="/#contact"): li Contact
		
		block content
			
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
			
		script(src="js/fullpage/scrolloverflow.min.js")
		script(src="js/fullpage/fullpage.js")
		script(src="js/fullpage/fullpageInit.js")

		script(src="js/js/js.js")

		block js
