extends layouts/default

block content
	#fullpage
		section.vertical-scrolling.fp-auto-height
			i.icon-phone.icons
			h1 Say Hello
			p.big If you would like to find out more, don't be shy.<br />Feel free to call, email, or message me.
			a(href="tel:+14242422981", target="_blank") (424) 242-2981
			br
			br
			a(href="mailto:hello@benjamincook.io", target="_blank") hello@benjamincook.io
			br
			br
			a.social(href="https://angel.co/benjamincook", target="_blank"): img(src="images/angellist.png")
			a.social(href="https://www.linkedin.com/in/benjamin-cook", target="_blank"): img(src="images/linkedin.png")
			a.social(href="https://github.com/cookbenjamin", target="_blank"): img(src="images/github.png")
