extends layouts/default

block content
    #fullpage
        section.vertical-scrolling
            div#main
                div#center
                    h1 My Projects
                    p.big(style="text-align: justify") Some projects here