extends layouts/default

block content
    // Wrapping the whole page in the fullpage id so that fullpage will work
    p.big(): a(href="/#skills", style="z-index: 1; position: absolute; top: 20px; left: 20px;") Back
    #fullpage
        section.vertical-scrolling
            div#main
                div.center
                    img.line-graphic(data-src="/images/line-cloud.png")
                    h1 My Knowledge and Skills
                    p.big Scroll down to explore my knowledge and skills.
        // First Section. I.e. welcome screen
        section.vertical-scrolling
            div#main
                // Image is styled to be framed in a circle
                div#left

                    img.line-graphic(data-src="/images/line-laptop.png", width="300")
                div#right
                    h1 Clean, Reliable Code
                    p.big(style="text-align: justify") I have excellent knowledge and ability with programming, particularly with Python, but also with Javascript, Node.js, Java and C++. Better knowledge of a language allows me to write cleaner, more reliable code.
                    br
                    p.big.center-text
                        a(href="https://github.com/cookbenjamin") Explore some of my code
                        a.margin-left(href="/#contact") Get in touch
        // Projects Section

        section.vertical-scrolling

            div#main
                // Image is styled to be framed in a circle
                div#right
                    img.line-graphic(data-src="/images/line-cloud.png", width="300")
                div#left
                    h1 Scalable Web Applications
                    p.big(style="text-align: justify") With excellent knowledge of scalable web frameworks, architectures, and technologies, such as Express, Sinatra, Flask, micro-services, containers, and AMQP messaging, I can build web apps the work and scale right from the start.
                    br
                    p.big.center-text
                        a(href="/#projects") View some proof
                        a.margin-left(href="/#contact") Get in touch

        section.vertical-scrolling
            div#main
                div#left
                    img.line-graphic(data-src="/images/line-data.png", width="300")
                div#right
                    h1 Powerful Insights into Data
                    p.big(style="text-align: justify") With a background in consumer psychology and research, and excellent knowledge and ability with data analysis and machine learning, I can find unique and powerful insights into consumer data.
                    br
                    p.big.center-text
                        a(href="/#contact") Get in touch
        section.vertical-scrolling
            div#main
                // Image is styled to be framed in a circle
                div#right
                    img.line-graphic(data-src="/images/line-spanner.png", width="300")
                div#left
                    h1 The right tools
                    p.big(style="text-align: justify") I have experience with many popular tools and frameworks.
                    p.big(style="text-align: justify") Which ones? Express, Sinatra, Flask, RabbitMQ, MongoDB, Postgres, MySQL, Docker, Git, Mercurial, NLTK, Scikit-learn, Scipy, Tensorflow, Theano, Keras, Lasagne, SymPy, MatPlotLib, D3, Pandas, HDF5, Hadoop, Spark plus many many more. If you would like to know whether I have experience with a particular framework or tool, feel free to contact me.
                    br
                    p.big.center-text
                        a(href="/#contact") Get in touch

        //	Contact Me Section
        section.vertical-scrolling.fp-auto-height
            div#main
                div.center
                    img.line-graphic(data-src="/images/line-phone.png")
                    h1 Say Hello
                    p.big(style="text-align: justify") If you would like to find out more, don't be shy. Feel free to call, email, or message me.
                    br
                    p.big
                        span AUS:
                        a(href="tel:+14242422981", target="_blank")  0417 251 891
                    br
                    p.big
                        span USA/CAN:
                        a(href="tel:+14242422981", target="_blank")  424.242.2981
                    br
                    p.big: a(href="mailto:hello@benjamincook.io", target="_blank") hello@benjamincook.io
                    br
                    a.social(href="https://angel.co/benjamincook", target="_blank"): i.fa.fa-angellist.fa-3x(aria-hidden="true")
                    a.social(href="https://www.linkedin.com/in/benjamin-cook", target="_blank"): i.fa.fa-linkedin.fa-3x(aria-hidden="true")
                    a.social(href="https://github.com/cookbenjamin", target="_blank"): i.fa.fa-github-alt.fa-3x(aria-hidden="true")
block js
    script(src="js/fullpage/skillsFullpageInit.js")